{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/work.css' %}">

{% block content %}
<div class="work-container">
    <div class="work-section">
        <h3>About my work</h3>

        <p>I am passionate about pursuing projects that can make a difference and being creative through technology with web development. My recent studies in human-computer interaction have helped me in my ongoing role, where I’m honing my web development and UI/UX skills.</p>
    </div>

    <div class="work-section">
        <h3>UOM Rewards</h3>

        <h5>Project Overview</h5>
        <p>This project aimed to address the challenge many students face in balancing their academic responsibilities, social life, and other commitments. We identified that this struggle often hinders students' ability to socialize and form meaningful connections on campus.</p>

        <h5>My Role</h5>
        <p>I was mainly the designer for this app, since this was only a conceptual project. I primarly focused on creating the user interface (UI) for the UOM Rewards app. I collaborated with the team to design the task screens, reward screens, and navigation menu, as well as improving the overall app design.</p>

        <h5>Design Process</h5>
        <p>Our design process began with conducting interviews to gather evidence for the problem we were addressing. From there, we developed three personas representing different user profiles and created storyboards based on their needs and behaviors. Through a speed-date session, we validated our ideas and found that the UOM Rewards concept resonated strongly with our target audience.</p>

        <h5>Project Desctiption</h5>
        <p>UOM Rewards is an app designed to incentivize and assist students in managing their tasks and organizing their daily lives. The app generates personalized schedules based on users' tasks, and as they complete tasks, their progress bar fills up, unlocking rewards upon reaching 100%. The goal of the app is to empower students to better manage their time, ultimately enhancing their college experience and facilitating connections.</p>

        <h5>Design Iterations</h5>
        <p>Our design iterations involved starting with low-fidelity wireframes using Balsamiq and conducting a usability acceptance review (UAR) with other teams to identify potential issues. Feedback from the UAR highlighted concerns such as users' lack of understanding of certain elements, such as checkboxes, and the absence of confirmation after redeeming a reward. To address these issues, we incorporated tooltips to provide guidance and added a confirmation page to ensure users are informed when they redeem a reward.</p>

        <h5>Technologies</h5>
        <li>Figma</li>
        <li>Balsamiq</li>
    </div>

    <div class="video-container">
        <h5>Demo</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zMWCC5z7yPI?si=62aLx33ticzVd8uO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="work-section">
        <h3>Audio Dichotics</h3>

        <h5>Project Overview</h5>
        <p>The Audio Dichotics project aimed to address the needs of children with audio deficits by developing a new web application to replace an outdated software plagued by licensing issues. The primary goal was to create a scalable and user-friendly platform that would facilitate auditory training and improve the auditory capabilities of the target demographic. Central to the project was the implementation of a 4-week training program comprising various auditory tests and exercises designed to strengthen the non-dominant ear and promote auditory balance. Through innovative design and robust development, the Audio Dichotics project sought to provide a comprehensive solution to support children with audio deficits in their auditory development journey.</p>

        <h5>My Role</h5>
        <p>As a member of the development team, my primary role focused on front-end development and user interface design. I was responsible for designing and implementing the training test pages, ensuring consistency in website design and functionality throughout the development process. Additionally, I contributed to the development of the add location feature, enabling local moderators to manage location-specific content effectively. By collaborating with team members and stakeholders, I played a vital role in enhancing the user experience and functionality of the Audio Dichotics web application.</p>

        <h5>Challenges</h5>
        <p>During the development of the Audio Dichotics web application, several challenges were encountered, requiring adaptation and problem-solving skills. One significant challenge was acclimating to the existing codebase, as our team joined the project after the initial development phase. Familiarizing ourselves with the code structure and understanding its intricacies took time and effort. Additionally, implementing the desired functionality for the tests posed another challenge. Achieving the desired display and behavior of the tests required patience, extensive testing, and iterative adjustments to meet the project's requirements effectively.</p>

        <h5>Features</h5>
        <p>The Audio Dichotics web application offers a comprehensive set of features aimed at assisting children with audio deficits. Central to the application is the training program, a 4-week regimen comprising various tests involving numbers, words, and phrases. These tests are designed to facilitate auditory training, enabling the non-dominant ear to reach parity with the dominant ear over time. Additionally, the application includes an add location feature, allowing local moderators to add their school locations to the website for organizational purposes. Moderators can then manage location-specific content and permissions, enhancing the customization and scalability of the platform.</p>

        <h5>Technologies</h5>
        <li>Ruby</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
    </div>

    <div class="image-container">
        <img src="{% static 'img/ears-landing-page.png' %}" alt="landing page">
        <p></p>
        <img src="{% static 'img/training-page.png' %}" alt="training page">
    </div>
</div>
{% endblock %}