.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center; 
}

h1 {
    /* font-style: Verdana, sans-serif; */
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0 20px;
    color: black;
    font-size: medium;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 20px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}